/.vscode
Using OpenCV/backend_support/Embeddings and labels
Using OpenCV/backend_support/Recognizer
Using OpenCV/backend_support/Scripts/__pycache__
Using OpenCV/server_app/__pycache__
Using OpenCV/Datasets